<%- include("template/header.ejs") %>

    <h2>Estos son mis productos</h2>

    <section class="tablaproductos">
        <table>
            <thead>
                <tr>
                    <th>Nombre Producto</th>
                    <th>Precio sin iva</th>
                    <th>Cantidad</th>
                    <th>Iva</th>
                    <th>Provedor</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <% arrayproductos.forEach(element=> { %>
                <tr>
                    <td>
                        <%= element.nombre%>
                    </td>
                    <td>
                        <%= element.preciosin%>
                    </td>
                    <td>
                        <%= element.cantidad%>
                    </td>
                    <td>
                        <%= element.iva%>
                    </td>
                    <td>
                        <%= element.proveedor%>
                    </td>
                    <!--   <td>
                    <img src="<%= element.img%>" alt="">
                    
                     </td> -->
                    <td>
                        <a href="producto/<%= element._id%>"><img class="editaricon" src="img/edit.png" alt=""></a>
                        <a onclick="return confirm('Esta seguro que quiere eliminar el registro')"
                            href="<%= `producto/${element._id}?_method=DELETE`  %>"><img class="editaricon"
                                src="img/eliminar.png" alt=""></a>
                    </td>


                </tr>

                <% }) %>
        </table>
    </section>



    </body>

    </html>